--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
sentence-transformers
langchain-huggingface
langchain
langchain-community
langchain-groq
faiss-cpu
google-genai>=0.3.0
langchain-google-genai
flask
gunicorn
python-dotenv
requests
beautifulsoup4
pypdf2
datasets
huggingface_hub
requests
beautifulsoap4
pypdf2